.lista-infos{
    list-style: none;
}

#lista-usuarios{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.card{
    display: flex;
    width: 300px;
    border: 2px solid red;
    padding: 20px;
    border-radius: 8px;
}