*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#card{
    background-color: red;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.conteudo{
    background-color: aqua;
    width: 200px;
    display: flex;
   
}